<section class="container-fluid text-bg-dark bg-dark jumbotron"> 
    <div class="row justify-content-center m-0">
        <div class="col-md-8 col-lg-6">
            <header class="text-center">
                <img src="{{ asset('img/feather-white.png') }}" class="img-fluid mb-3" alt="plume blanche">
                <h1 class="display-5 fw-bold  lh-2 mb-3">Concepteur de scénario de roman et de jeu de rôle</h1>
            </header>
            <p class="lead text-center mt-5">
                Bienvenue sur {{ app_name }}, l'application pour concevoir et gérer vos synopsis de jeux de rôle et de romans&nbsp;!
                Créez des synopsis, gérez les événements regroupés par chapitre, ajoutez des personnages et des lieux. Importez des
                images pour illustrer vos projets. Suivez la progression.
            </p>
        </div>
    </div>
</section>