@import "@fortawesome/fontawesome-free/css/all.css";

.jumbotron {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 100px 0;
}

@media (min-width: 768px) {
    .jumbotron {
        padding: 160px 0;
    }
}

label.required::after {
    content: '*';
    display: inline-block;
    margin-left: 5px;
}

.vc-color-wrap {
    width: 4rem !important;
    height: calc(1.5em + 0.75rem + 2px) !important;
    border-radius: 0.375rem;
    margin-right: 0 !important;
}

.blue-background-class {
    background: rgb(200, 235, 251);
    background: linear-gradient(0deg, rgba(200, 235, 251, 1) 21%, rgba(200, 235, 251, 0.4) 52%, rgba(200, 235, 251, 1) 85%);
}

.handle {
    cursor: grab;
}

.text-secondary {
    color: #616a72;
}

.button {
    cursor: pointer;
}