[data-bs-theme=dark] {
    --bs-white-rgb: 33, 37, 41;
    --bs-gray-100: #212529;
    --bs-gray-900: #DEE2E6;
    --bs-gray-700: #dee2e6;

    --easy-table-border: 1px solid #495057;
    --easy-table-row-border: 1px solid #495057;
    --easy-table-header-font-size: 16px;
    --easy-table-header-font-color: #DEE2E6;
    --easy-table-header-background-color: #212529;
    --easy-table-body-row-font-color: #DEE2E6;
    --easy-table-body-row-background-color: #212529;
    --easy-table-body-row-hover-font-color: #DEE2E6;
    --easy-table-body-row-hover-background-color: #212121;
    --easy-table-body-even-row-font-color: #DEE2E6;
    --easy-table-body-even-row-background-color: #212529;
    --easy-table-footer-background-color: #212529;
    --easy-table-footer-font-color: #DEE2E6;
    --easy-table-footer-font-size: 16px;
    --easy-table-message-font-color: #DEE2E6;
    --easy-table-message-font-size: 16px;
    --easy-table-loading-mask-background-color: #212529;
    --easy-table-buttons-pagination-border: 1px solid #495057;
}

[data-bs-theme=dark] .text-secondary {
    color: #DEE2E6 !important;
}

[data-bs-theme=dark] .bg-light {
    background-color: var(--bs-light-bg-subtle) !important;
}

[data-bs-theme=dark] .choices__inner,
[data-bs-theme=dark] .choices__input,
[data-bs-theme=dark] .choices__list--dropdown, 
[data-bs-theme=dark] .choices__list[aria-expanded],
[data-bs-theme=dark] .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
    background-color: var(--bs-body-bg);
}

[data-bs-theme=dark] .jodit-toolbar__box:not(:empty):not(:empty),
[data-bs-theme=dark] .jodit-toolbar__box:not(:empty) {
    background-color: #343a40;
    color: #DEE2E6;
}

[data-bs-theme=dark] .jodit-toolbar-button__button:hover:not([disabled]) {
    background-color: #212529;
    opacity: 1;
    outline: 0;
}

[data-bs-theme=dark] .jodit-toolbar-button_with-trigger_true:hover:not([disabled]) {
    border-color: #212529;
}

[data-bs-theme=dark] .jodit-icon {
    stroke: #DEE2E6;
    fill: #DEE2E6;
}

[data-bs-theme=dark] .jodit-container:not(.jodit_inline) {
    border: 1px solid rgba(255, 255, 255, 0.15);
    background-color: #212529;
}

[data-bs-theme=dark] .jodit-workplace+.jodit-status-bar:not(:empty) {
    border-top: 1px solid var(--bs-body-bg);
}

[data-bs-theme=dark] .jodit-status-bar {
    background-color: #343a40;
    color: #DEE2E6;
}

[data-bs-theme=dark] .jodit-popup__content,
[data-bs-theme=dark] .jodit-toolbar-button__text {
    color: #DEE2E6;
}

[data-bs-theme=dark] .jodit-toolbar__box:not(:empty) .jodit-toolbar-editor-collection:after,
[data-bs-theme=dark] .jodit-popup__content {
    background-color: #212529;
}

[data-bs-theme=dark] .jodit-container:not(.jodit_inline) .jodit-workplace {
    border: 1px solid var(--bs-body-bg);
}

[data-bs-theme=dark] .jodit-wysiwyg {
    background-color: var(--bs-body-bg);
}

[data-bs-theme=dark] .jodit-toolbar-button__trigger svg {
    stroke: #DEE2E6;
    fill: #DEE2E6;
}