{% extends 'base.html.twig' %}

{% block title %}Erreur 404 | {{ parent() }} {% endblock %}

{% block body %}
    <article class="container text-center mt-5">
        <header class="mb-4">
            <h1 class="display-1 fw-bold text-danger">
                <i class="fas fa-exclamation-triangle"></i> 404 - Page introuvable
            </h1>
        </header>
        <p class="lead fw-bold text-danger">Oups ! La page que vous recherchez n'existe pas, a été supprimée ou a été renommée.</p>
        <footer class="mt-5">
            <a href="{{ path('app_home') }}" class="btn btn-danger btn-lg">Retour à la page d'accueil</a>
        </footer>
    </article>
{% endblock %}